# Turn on URL rewriting engine

RewriteEngine On

# Prevent infinite looping
RewriteCond %{ENV:REDIRECT_STATUS} ^$

# Disable rewriting for existing files or directories

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

# redirect all other requests to index.php

RewriteRule ^.*$ index.php [PT,L]