{% apply spaceless %}
<div class="row">
  <div class="col-md-8 blog-main">
    <h3 class="pb-4 mb-4 font-italic border-bottom">
      Article
    </h3>
    <div class="blog-article">
      <h2 class="blog-article-title">{{article.title|raw}}
      </h2>
      <p class="blog-article-meta">{{article.date}} by {{article.author|raw}}
      </p>
      <div>{{article.content|raw|nl2br}}
      </div>
    </div>
  </div>
  <aside class="col-md-4 blog-sidebar">
    <div class="p-4 mb-3 bg-light rounded">
      <h4 class="font-italic">About
      </h4>
      {% for item in about %}
      <p class="mb-0">{{item.description|raw}}
      </p>
      {% endfor %}
    </div>
    <div class="p-4">
      <h4 class="font-italic">Archives
      </h4>
      <ol class="list-unstyled mb-0">
        {% for item in archives %}
        <li>
          <a href="?Article/archive/&month={{item.month}}&year={{item.year}}">{{item.date|raw}}
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>
    <div class="p-4">
      <h4 class="font-italic">Elsewhere
      </h4>
      <ol class="list-unstyled">
        {% for item in social %}
        <li>
          <a href="{{item.link|raw}}">{{item.name|raw}}
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>
  </aside>
</div>
{% endapply %}