{% apply spaceless %}
<link rel="stylesheet" href="style/home/setup.{% if debug_mode == 0 %}min.{% endif %}css" type="text/css">
{% if first_account == 1 %}
<div class="jumbotron jumbotron-fluid">
  <h1>It works!
  </h1>
  <p class="lead">However, it seems like there is no one registered, so it's time to setup your account!
  </p>
</div>
{% else %}
<div class="jumbotron">
  <h1>Registration
  </h1>
  <p class="lead">Please fill in your data in order to register you account.
  </p>
</div>
{% endif %}
{% if message %}
<div class="alert alert-danger" role="alert">
  {{message}}
</div>
{% endif %}
<form id="first-account" method="POST" action="?Home/register" enctype="multipart/form-data">
  <div class="container col-sm-4 col-xs-12">
    <div class="form-group">
      <input type="email" id="email" name="email" class="form-control" placeholder="email@example.com" required>
    </div>
    <div class="form-group">
      <input type="text" id="username" name="username" class="form-control"  placeholder="Username" required>
    </div>
    <div class="form-group">
      <input type="password" id="password" name="password" class="form-control validate" placeholder="Password" minlength=6 required>
    </div>  
    <div class="form-group">  
      <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Repeat password" required>
    </div>
    <div class="form-group form-check">
      <label class="form-check-label" for="agree">
        <input type="checkbox" id="agree" name="agree" class="form-check-input" required>
        <span>By submiting this form, you are agreeing with our 
          <a href="?Site/terms" target="_blank"> Terms & Conditions
          </a>
        </span>
        <label class="error">
        </label>
      </label>
    </div>
  </div> 
  <button type="submit" id="submit" class="btn btn-primary">Submit form
  </button>
</form>
<script defer src="scripts/home/setup.{% if debug_mode == 0 %}min.{% endif %}js">
</script>
{% endapply %}