{% apply spaceless %}
<div class="jumbotron">
    <h1 class="display-4">It works!</h1>
    <p class="lead">However, it seems like there is no one registered, so it's time to setup your account!</p>
</div>
<form class="needs-validation" method="POST" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3 mx-auto">
      <label for="validationCustom01">Email</label>
      <input type="email" class="form-control" name="email" id="validationCustom01" placeholder="email@example.com" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Invalid email.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3 mx-auto">
      <label for="validationCustomUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" name="username" id="validationCustomUsername" placeholder="" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3 mx-auto">
      <label for="validationCustomPassword">Password</label>
      <div class="input-group">
        <input type="password" id="validationCustomPassword" name="password" class="form-control validate" minlength=6 required>
        <div class="invalid-feedback">
          Password must have at least 6 characters.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3 mx-auto">
      <label for="validationCustomPassword2">Confirm Password</label>
      <div class="input-group">
        <input type="password" id="validationCustomPassword2" name="password2" class="form-control" required>
        <div class="invalid-feedback">
          Passwords do not match.
        </div>
      </div>
    </div>
  </div>


  <button id="submit" class="btn btn-primary" type="submit" disabled>Submit form</button>
</form>
<script defer src="scripts/home/setup.{% if debug_mode == 0 %}min.{% endif %}js"></script>
{% endapply %}