{% apply spaceless %}
<link rel="stylesheet" href="style/home/setup.{% if debug_mode == 0 %}min.{% endif %}css" type="text/css">
{% if first_account == 1 %}
<div class="jumbotron jumbotron-fluid">
    <h1>It works!</h1>
    <p class="lead">However, it seems like there is no one registered, so it's time to setup your account!</p>
</div>
{% else %}
<div class="jumbotron">
  <h1>Registration</h1>
  <p class="lead">Please fill in your data in order to register you account.</p>
</div>
{% endif %}
<form id="first-account" method="POST" action="?Home/register" enctype="multipart/form-data">
  <div class="row mt-4">

    <div class="col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="email@example.com" required>
    </div>

  
    <div class="col-md-6">
      <label for="username">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" name="username" id="username" placeholder="" aria-describedby="inputGroupPrepend" required>
      </div>
    </div>
 
  </div>
  <div class="row mt-4">

    <div class="col-md-6">
      <label for="password">Password</label>
      <div class="input-group">
        <input type="password" id="password" name="password" class="form-control validate" minlength=6 required>
      </div>
    </div>
  
 
    <div class="col-md-6">
      <label for="confirm_password">Confirm Password</label>
      <div class="input-group">
        <input type="password" id="confirm-password" name="confirm-password" class="form-control" required>
      </div>
    </div>
  
  </div>
  <div class="row mt-4">
    <div class="form-check col-md-6 float-left">
      <label class="form-check-label float-right" for="agree">
        By submiting this form, you are agreeing with our <a href="?Site/terms" target="_blank"> Terms & Conditions</a>
      </label>
      <input class="form-check-input col-md-1 flaot-left" type="checkbox" value="accepted" id="agree" name="agree">
    </div>
  </div>
  <div class="row mt-4">
    <button id="submit" class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
<script defer src="scripts/home/setup.{% if debug_mode == 0 %}min.{% endif %}js"></script>
{% endapply %}