{% apply spaceless %}
<div class="container-fluid">
  <div class="row">
    {% set active = 'Articles' %}
    {% include 'cpanel/sidebar.html' %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Articles
        </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
              <circle cx="12" cy="12" r="10">
              </circle>
              <line x1="12" y1="8" x2="12" y2="16">
              </line>
              <line x1="8" y1="12" x2="16" y2="12">
              </line>
            </svg>
            <a href="?CPanel/articleEditor">New Article
            </a>
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm" id="table">
          <thead>
            <tr>
              <th>#
              </th>
              <th>Title
              </th>
              <th>Actions
              </th>
              <th>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in articles%}
            <tr>
              <td>{{item.id}}
              </td>
              <td data-label="title">{{item.title|raw}}
              </td>
              <td>
                <a href="?CPanel/articleEditor/&id={{item.id}}">Edit
                </a>
              </td>
              <td>
                <a href="#" data-href="?CPanel/articleDelete/&id={{item.id}}" data-toggle="modal" data-target="#confirm-delete">Delete
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% set data = 'article' %}
      {% include 'cpanel/popups.html' %}
    </main>
  </div>
</div>
{% endapply %}