{% apply spaceless%}
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.4/examples/dashboard/dashboard.css" integrity="sha384-T74eNPnHl++XVVmE5qLDXKnVmIT2d1SUNdJrEsRv1nHI1dX4TOaDTBrR3UA9Oz+2" crossorigin="anonymous">
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{sitename}}
  </a>
  {% if searchable == 1 %}
  <input class="form-control form-control-dark w-100" id="search" type="search" placeholder="Search" aria-label="Search" onkeyup="searchTable()">
  {% endif %}
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="?Home/logout">Sign out
      </a>
    </li>
  </ul>
</nav>
{% endapply %}