{% apply spaceless %}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmDeletion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            Confirm deletion
        </div>
        <div class="modal-body">
            Do you really want to delete this {{data}}?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
            </button>
            <a href="#" class="btn btn-danger btn-ok">Delete
            </a>
        </div>
        </div>
    </div>
</div>
{% endapply %}